.calculator{
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-flow: minmax(50px, auto);
    font-size: 2rem;
    text-align: center;
    color:#EAEBEB;
    border-radius: 1em/5em;
    

    &__display{
        grid-column: 1 / 5;
        background-color: #4B4C4C;
    }

    &__zero{
        grid-column: 1 / 3;
        
    }
    &__btn{
        background-color: #787979;
        border: 1px solid #4C4D4D;

        &-operator{
            background-color: #FF9727;
            border: 1px solid #4C4D4D;
            
        }
        &-header{
            background-color: #5E5E5E;
            border: 1px solid #4C4D4D;
        }
    }

}