.calculator{
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-flow: minmax(50px, auto);
    font-size: 2rem;

    &__display{
        grid-column: 1/5;
        background-color: red;
    }
}