.calculator{
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-auto-flow: minmax(50px, auto);
    text-align: center;
    color:#EAEBEB;
    

    &__display{
        grid-column: 1 / 5;
        background: white;
        background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
        padding: 10px;
        text-align: right;
        font-size: 2rem;
    }

    &__zero{
        grid-column: 1 / 3;
        
    }
    &__btn{
        background: #3A434F;
        color: #FCFCFD;
        padding: 10px;
        font-size: 1.5rem;
    }
    &__btn:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        background: #5A656F;    
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    &__btn:active{
        transform:scale(1);
    }

}